<h1>Nos différents genres</h1>

<%= form_tag(kinds_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search kinds ' name" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.name %></td>
        <td><%= kind.cote %></td>
        <td><%= link_to 'Détails', kind, class: 'btn btn-default' %>
        </td>
        <td><%= link_to 'Editer', edit_kind_path(kind), class: 'btn btn-info' if can? :update, User%></td>
        <td><%= link_to 'Supprimer', kind, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, User%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nos auteurs', autors_path, class: 'btn btn-default' %>
<%= link_to 'Nos livres', books_path, class: 'btn btn-default' %>
<%= link_to 'Nouveau genre', new_kind_path, class: 'btn btn-default'if can? :create, User%>
<% if user_signed_in? %>
  <li>
  <%= link_to('Déconnexion', destroy_user_session_path, class: 'btn btn-default', :method => :delete) %> 
  </li>
<% else %>
  <li>
  <%= link_to('Connexion', new_user_session_path)  %>  
  </li>   
  <% end %>
