<h1>Listing kinds</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.name %></td>
        <td><%= kind.cote %></td>
        <td><%= link_to 'Show', kind, class: 'btn btn-default' %>
        </td>
        <td><%= link_to 'Edit', edit_kind_path(kind), class: 'btn btn-info' if can? :update, User%></td>
        <td><%= link_to 'Destroy', kind, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, User%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'List of Autors', autors_path, class: 'btn btn-default' %>
<%= link_to 'List of Books', books_path, class: 'btn btn-default' %>
<%= link_to 'New Kind', new_kind_path, class: 'btn btn-default'if can? :create, User%>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-default', :method => :delete) %> 
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>   
  <% end %>
