<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kind.name %>
</p>

<p>
  <strong>Cote:</strong>
  <%= @kind.cote %>
</p>

<%= link_to 'Edit', edit_kind_path(@kind), class: 'btn btn-info' if can? :update, User %> 
<%= link_to 'Back', kinds_path, class: 'btn btn-default' %>
