<p id="notice"><%= notice %></p>

<p>
  <strong>Cote books:</strong>
  <%= @books_kind.cote_books %>
</p>

<p>
  <strong>Cote kind:</strong>
  <%= @books_kind.cote_kind %>
</p>

<%= link_to 'Edit', edit_books_kind_path(@books_kind) %> |
<%= link_to 'Back', books_kinds_path %>
