<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Autor name:</strong>
  <%= @book.autor_name %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @book.editor %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @book.collection %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @book.kind %>
</p>

<p>
  <strong>Cote:</strong>
  <%= @book.cote %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-info' if can? :update, User%> 
<%= link_to 'Back', books_path, class: 'btn btn-default' %>
